<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbb.mgt.core.dao.mapper.OrgRechargesMapper">
	<insert id="insertOrgRecharges" >
		insert into mgt_org_recharges
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				org_id,
			</if>
			<if test="totalDataAmount != null">
				total_data_amount,
			</if>
			<if test="totalSmsAmount != null">
				total_sms_amount,
			</if>
			<if test="totalDataExpense != null">
				total_data_expense,
			</if>
			<if test="totalSmsExpense != null">
				total_sms_expense,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				#{orgId,jdbcType=INTEGER},
			</if>
			<if test="totalDataAmount != null">
				#{totalDataAmount,jdbcType=INTEGER},
			</if>
			<if test="totalSmsAmount != null">
				#{totalSmsAmount,jdbcType=INTEGER},
			</if>
			<if test="totalDataExpense != null">
				#{totalDataExpense,jdbcType=INTEGER},
			</if>
			<if test="totalSmsExpense != null">
				#{totalSmsExpense,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<select id="selectOrgRecharges" resultType="com.jbb.mgt.core.domain.OrgRecharges">
		SELECT 	c.org_id AS orgId,c.total_data_amount AS totalDataAmount,c.total_sms_amount AS totalSmsAmount,c.total_data_expense AS totalDataExpense,c.total_sms_expense AS totalSmsExpense 
		FROM mgt_org_recharges c
		WHERE c.org_id = #{orgId}
	</select>
	
	<select id="selectOrgRechargesForUpdate" resultType="com.jbb.mgt.core.domain.OrgRecharges">
		SELECT 	c.org_id AS orgId,c.total_data_amount AS totalDataAmount,c.total_sms_amount AS totalSmsAmount,c.total_data_expense AS totalDataExpense,c.total_sms_expense AS totalSmsExpense 
		FROM mgt_org_recharges c
		WHERE c.org_id = #{orgId} FOR UPDATE
	</select>
	
	<update id="updateOrgRecharges">
		UPDATE mgt_org_recharges c
		SET
		c.total_data_amount = #{totalDataAmount},
		c.total_sms_amount=#{totalSmsAmount},
		c.total_data_expense=#{totalDataExpense},
		c.total_sms_expense=#{totalSmsExpense}
		WHERE
		c.org_id = #{orgId}
	</update>
	
</mapper>