<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbb.mgt.core.dao.mapper.UserMapper" >

	<sql id="userCols">
        u.user_Id as userId, u.jbb_user_id as jbbUserId, u.ip_area as ipArea, u.username AS userName , u.phone_number AS phoneNumber ,  
		u.idcard AS idCard,u.ip_address AS ipAddress,u.zhima_score AS zhimaScore,
		u.qq AS qq,u.wechat AS wechat,u.idcard_rear AS idcardRear,u.idcard_back AS idcardBack,u.idcard_info AS idcardInfo,
		u.vidoe_screen_shot AS vidoeScreenShot,u.platform AS platform,u.mobile_manufacture AS mobileManufacture,
		u.idcard_address AS idcardAddress,u.race AS race, u.password as password, u.education AS education,
		u.contract1_xjl_relation AS contract1XjlRelation,u.contract1_xjl_username AS contract1XjlUsername,u.contract1_xjl_phonenumber AS contract1XjlPhonenumber,
		u.contract2_xjl_relation AS contract2XjlRelation,u.contract2_xjl_username AS contract2XjlUsername,u.contract2_xjl_phonenumber AS contract2XjlPhonenumber,
		u.contract1_relation AS contract1Relation,u.contract1_username AS contract1Username,u.contract1_phonenumber AS contract1Phonenumber,
		u.contract2_relation AS contract2Relation,u.contract2_username AS contract2Username,u.contract2_phonenumber AS contract2Phonenumber,
		u.realname_verified AS realnameVerified,u.mobile_verified AS mobileVerified,u.zhima_verified AS zhimaVerified,u.jingdong_verified AS jingdongVerified,
		u.si_verified AS siVerified,u.gjj_verified AS gjjVerified,u.chsi_verified AS chsiVerified,u.taobao_verified AS taobaoVerified,has_contacts AS hasContacts,
		u.video_verified AS videoVerified,u.ocr_idcard_verified AS ocrIdcardVerified,u.idcard_verified AS idcardVerified,
		u.xjl_basic_info_verified AS xjlBasicInfoVerified,u.creation_date AS creationDate, u.zhima_min AS zhimaMin, u.zhima_max AS zhimaMax,
		(YEAR(NOW()) - substring(u.idCard,7,4)) as age,u.avatar_pic AS avatarPic,u.occupation AS occupation,
		CASE
			WHEN substring(u.idCard,17,1)%2=1 THEN '男'
			WHEN substring(u.idCard,17,1)%2=0 THEN '女'
		END AS 'sex'
    </sql>

     <sql id="xjlCols">
    	u.contract1_xjl_relation AS contract1XjlRelation,u.contract1_xjl_username AS contract1XjlUsername,u.contract1_xjl_phonenumber AS contract1XjlPhonenumber,
		u.contract2_xjl_relation AS contract2XjlRelation,u.contract2_xjl_username AS contract2XjlUsername,u.contract2_xjl_phonenumber AS contract2XjlPhonenumber,
		u.marital_status AS maritalStatus,u.education AS education,
		a.address_id AS addressId,a.type AS type,a.province AS province,a.city AS city,a.area AS area,a.address AS address
    </sql>

	<resultMap id="UserMap" type="com.jbb.mgt.core.domain.User">
		<id property="userId" column="userId" />
		<result property="jbbUserId" column="jbbUserId" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="userName" column="userName" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<result property="census" column="census" />
		<result property="email" column="email" />
		<result property="idCard" column="idCard" />
		<result property="ipAddress" column="ipAddress" />
		<result property="ipArea" column="ipArea" />
		<result property="zhimaScore" column="zhimaScore" />
		<result property="qq" column="qq" />
		<result property="wechat" column="wechat" />
		<result property="realnameVerified" column="realnameVerified" />
		<result property="mobileVerified" column="mobileVerified" />
		<result property="zhimaVerified" column="zhimaVerified" />
		<result property="jingdongVerified" column="jingdongVerified" />
		<result property="siVerified" column="siVerified" />
		<result property="gjjVerified" column="gjjVerified" />
		<result property="chsiVerified" column="chsiVerified" />
		<result property="taobaoVerified" column="taobaoVerified"/>
		<result property="videoVerified" column="videoVerified"/>
		<result property="hasContacts" column="hasContacts"/>
		<result property="ocrIdcardVerified" column="ocrIdcardVerified"/>
		<result property="idcardVerified" column="idcardVerified"/>
		<result property="creationDate" column="creationDate" />
		<result property="idcardRear" column="idcardRear" />
		<result property="idcardBack" column="idcardBack" />
		<result property="idcardInfo" column="idcardInfo" />
		<result property="vidoeScreenShot" column="vidoeScreenShot" />
		<result property="platform" column="platform" />
		<result property="mobileManufacture" column="mobileManufacture" />
		<result property="idcardAddress" column="idcardAddress" />
		<result property="race" column="race" />
		<result property="password" column="password" />
		<result property="applyId" column="applyId" />
		<result property="applyOrgIds" column="applyOrgNames" />
		<result property="applyOrgNames" column="applyOrgNames" />
		<result property="contract1Relation" column="contract1Relation" />
		<result property="contract1Username" column="contract1Username" />
		<result property="contract1Phonenumber" column="contract1Phonenumber" />
		<result property="contract2Relation" column="contract2Relation" />
		<result property="contract2Username" column="contract2Username" />
		<result property="contract2Phonenumber" column="contract2Phonenumber" />
		<result column="applyCreationDate" property="creationDate"/>
		<result column="initMarks" property="initMarks"/>
		<result property="userType" column="userType" />
		<result property="zhimaMin" column="zhimaMin" />
		<result property="zhimaMax" column="zhimaMax" />
		<result property="maritalStatus" column="maritalStatus" />
		<result property="education" column="education" />
		<result property="contract1XjlRelation" column="contract1XjlRelation" />
		<result property="contract1XjlUsername" column="contract1XjlUsername" />
		<result property="contract1XjlPhonenumber" column="contract1XjlPhonenumber" />
		<result property="contract2XjlRelation" column="contract2XjlRelation" />
		<result property="contract2XjlUsername" column="contract2XjlUsername" />
		<result property="contract2XjlPhonenumber" column="contract2XjlPhonenumber" />
		<result property="xjlBasicInfoVerified" column="xjlBasicInfoVerified"/>
		<result property="avatarPic" column="avatarPic"/>
		<result property="occupation" column="occupation"/>
		<association property="liveAddress" javaType="com.jbb.mgt.core.domain.UserAddresses">
			<id column="addressId" property="addressId" />
			<result column="type"  property="type"/>
			<result column="userId" property="userId" />
			<result column="province"  property="province"/>
			<result column="city"  property="city"/>
			<result column="area"  property="area"/>
			<result column="address"  property="address"/>
		</association>
		<association property="channels" javaType="com.jbb.mgt.core.domain.Channel">
			<id column="channelCode" jdbcType="VARCHAR" property="channelCode" />
			<result column="channelName" jdbcType="VARCHAR" property="channelName"/>
		</association>
	</resultMap>

	<resultMap id="UserMaps" type="com.jbb.mgt.core.domain.User">
		<id property="userId" column="userId" />
		<result property="jbbUserId" column="jbbUserId" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="userName" column="userName" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<result property="census" column="census" />
		<result property="email" column="email" />
		<result property="idCard" column="idCard" />
		<result property="ipAddress" column="ipAddress" />
		<result property="ipArea" column="ipArea" />
		<result property="zhimaScore" column="zhimaScore" />
		<result property="qq" column="qq" />
		<result property="wechat" column="wechat" />
		<result property="realnameVerified" column="realnameVerified" />
		<result property="mobileVerified" column="mobileVerified" />
		<result property="zhimaVerified" column="zhimaVerified" />
		<result property="jingdongVerified" column="jingdongVerified" />
		<result property="siVerified" column="siVerified" />
		<result property="gjjVerified" column="gjjVerified" />
		<result property="chsiVerified" column="chsiVerified" />
		<result property="taobaoVerified" column="taobaoVerified"/>
		<result property="videoVerified" column="videoVerified"/>
		<result property="hasContacts" column="hasContacts"/>
		<result property="ocrIdcardVerified" column="ocrIdcardVerified"/>
		<result property="idcardVerified" column="idcardVerified"/>
		<result property="creationDate" column="creationDate" />
		<result property="idcardRear" column="idcardRear" />
		<result property="idcardBack" column="idcardBack" />
		<result property="idcardInfo" column="idcardInfo" />
		<result property="vidoeScreenShot" column="vidoeScreenShot" />
		<result property="platform" column="platform" />
		<result property="mobileManufacture" column="mobileManufacture" />
		<result property="idcardAddress" column="idcardAddress" />
		<result property="race" column="race" />
		<result property="password" column="password" />
		<result property="applyId" column="applyId" />
		<result property="applyOrgIds" column="applyOrgNames" />
		<result property="applyOrgNames" column="applyOrgNames" />
		<result property="contract1Relation" column="contract1Relation" />
		<result property="contract1Username" column="contract1Username" />
		<result property="contract1Phonenumber" column="contract1Phonenumber" />
		<result property="contract2Relation" column="contract2Relation" />
		<result property="contract2Username" column="contract2Username" />
		<result property="contract2Phonenumber" column="contract2Phonenumber" />
		<result column="applyCreationDate" property="creationDate"/>
		<result column="initMarks" property="initMarks"/>
		<result property="userType" column="userType" />
		<result property="zhimaMin" column="zhimaMin" />
		<result property="zhimaMax" column="zhimaMax" />
		<result property="maritalStatus" column="maritalStatus" />
		<result property="education" column="education" />
		<result property="contract1XjlRelation" column="contract1XjlRelation" />
		<result property="contract1XjlUsername" column="contract1XjlUsername" />
		<result property="contract1XjlPhonenumber" column="contract1XjlPhonenumber" />
		<result property="contract2XjlRelation" column="contract2XjlRelation" />
		<result property="contract2XjlUsername" column="contract2XjlUsername" />
		<result property="contract2XjlPhonenumber" column="contract2XjlPhonenumber" />
		<result property="xjlBasicInfoVerified" column="xjlBasicInfoVerified"/>
		<association property="channels" javaType="com.jbb.mgt.core.domain.Channel">
			<id column="channelCode" jdbcType="VARCHAR" property="channelCode" />
			<result column="channelName" jdbcType="VARCHAR" property="channelName"/>
		</association>
		<association property="jobInfo" javaType="com.jbb.mgt.core.domain.UserJob">
			<id column="userId" property="userId" />
			<result column="company" property="company"/>
			<result column="addressId" property="addressId"/>
			<result column="occupation" property="occupation"/>
			<result column="startDate" property="startDate"/>
			<result column="endDate" property="endDate"/>
			<result column="creationDate" property="creationDate"/>
			<association property="jobAddress" javaType="com.jbb.mgt.core.domain.UserAddresses">
				<id column="addressId" property="addressId" />
				<result column="type" property="type" />
				<result column="province" property="province" />
				<result column="city" property="city" />
				<result column="area" property="area" />
				<result column="address" property="address" />
			</association>
		</association>
	</resultMap>

	<insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO mgt_users 
			(`username`,`phone_number`, password, phone_number_md5, `idcard`,`ip_address`, ip_area, `zhima_score`,`qq`,`wechat`,
			`realname_verified`,`mobile_verified`,`zhima_verified`,`platform`, `mobile_manufacture`,`creation_date`,`is_hidden`,
			`avatar_pic`, `occupation`, first_channel_code,ip_address_first)
		VALUES 
			(#{userName}, #{phoneNumber}, #{password},upper(md5(#{phoneNumber})) ,#{idCard}, #{ipAddress}, #{ipArea}, #{zhimaScore},#{qq},#{wechat},
			#{realnameVerified},#{mobileVerified},#{zhimaVerified},#{platform}, #{mobileManufacture},now(),#{isHidden},#{avatarPic},#{occupation},#{firstChannelCode},substring_index(#{ipAddress},',',1))
	</insert>

	<select id="selectUserById" resultMap="UserMap">
		SELECT <include refid="userCols"/> , az.areazone as 'census'
		FROM  mgt_users as u
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		<if test="orgId!=null">
		JOIN mgt_org_users ou on ou.user_id = u.user_id AND ou.org_id = #{orgId}
		</if>
		WHERE u.user_Id = #{userId}
		LIMIT 1
	</select>

	<select id="selectUserByJbbUserId" resultMap="UserMap">
		SELECT <include refid="userCols"/>
		FROM mgt_users u
		WHERE u.jbb_user_id = #{jbbUserId}
		ORDER BY u.user_id DESC
		limit 1
	</select>

	<select id="selectUserByApplyId" resultMap="UserMaps">
		SELECT <include refid="userCols"/>, az.areazone as 'census', uj.user_id AS userId, uj.company AS company,
		uj.address_id AS addressId, uj.occupation AS occupation, uj.start_date AS startDate,
		uj.end_date AS endDate, uj.creation_date AS creationDate,a.address_id AS addressId,
		a.type AS type,a.province AS province,a.city AS city,a.area AS area,a.address AS address
		FROM  mgt_user_apply_records ua
		LEFT JOIN mgt_users as u ON u.user_id =ua.user_id
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		LEFT JOIN mgt_user_jobs uj ON u.user_id = uj.user_id
		LEFT JOIN mgt_user_addresses a ON u.user_id = a.user_id AND a.type=1
		WHERE u.user_id = ua.user_id
			AND ua.apply_id = #{applyId}
			AND ua.org_id = #{orgId}
	</select>

	<select id="selectUsers" resultMap="UserMap">
		SELECT u.user_Id as userId, INSERT(u.username, 2, 10, '**')   AS userName , INSERT(u.phone_number, 4, 6, '******') AS phoneNumber ,
			au.creation_date AS creationDate
		FROM  mgt_org_app_channel_users au
		LEFT JOIN mgt_users u ON au.user_id = u.user_id
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		WHERE  au.channel_code = #{channelCode} AND au.org_id = #{orgId}
			AND au.is_hidden = 0
			<if test="startDate!=null">
				AND au.creation_date<![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate!=null">
				AND au.creation_date<![CDATA[<]]> #{endDate}
			</if>


	</select>

	<select id="selectUsers_COUNT" resultType="Long">
		SELECT COUNT(au.user_Id)
		FROM  mgt_org_app_channel_users au
		WHERE  au.channel_code = #{channelCode} AND au.org_id = #{orgId}
			AND au.is_hidden = 0
			<if test="startDate!=null">
				AND au.creation_date<![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate!=null">
				AND au.creation_date<![CDATA[<]]> #{endDate}
			</if>
	</select>

	<select id="selectUserDetails" resultMap="UserMap">
		SELECT <include refid="userCols"/>
			, apply.s_user_type AS userType
			, apply.apply_id AS applyId ,apply.creation_date AS applyCreationDate ,az.areazone as 'census'
			, CASE
        		WHEN apply.s_org_id = 1 AND apply.s_user_type = 1 THEN '纯进件导流'
        		WHEN apply.s_org_id = 1 AND apply.s_user_type = 2 THEN '非纯进件导流'
        		ELSE channel.channel_name END AS 'channelName'
		FROM mgt_user_apply_records apply
		LEFT JOIN mgt_users as u ON apply.user_id=u.user_id
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		LEFT JOIN mgt_channels channel ON apply.s_channel_code=channel.channel_code
        WHERE apply.org_id = #{orgId}
        <if test="channelCode!=null and channelCode!=''">
       		AND apply.s_channel_code=#{channelCode}
        </if>
        <if test="userType!=null">
			AND apply.s_user_type =  #{userType}
		</if>
        <if test="startDate!=null">
			AND apply.creation_date<![CDATA[>=]]> #{startDate}
		</if>
		<if test="endDate!=null">
			AND apply.creation_date<![CDATA[<=]]> #{endDate}
		</if>
        <choose>
            <when test="isGetJbbChannels==true">  <!--  帮帮导流 -->
            	AND apply.s_org_id = 1
                AND apply.org_id != apply.s_org_id
            </when>
            <otherwise>
                AND apply.org_id = apply.s_org_id <!-- 自有渠道  -->
            </otherwise>
        </choose>
        <!-- AND channel.is_hidden=0 AND channel.status!=1 -->
		ORDER BY apply.creation_date DESC
	</select>


	<sql id="countApplyRecordsSql">
        SELECT  COUNT(1)
		FROM mgt_user_apply_records apply
		LEFT JOIN mgt_channels channel ON apply.s_channel_code=channel.`channel_code`
        WHERE apply.org_id = #{orgId}
        <if test="channelCode!=null and channelCode!=''">
       		AND apply.s_channel_code=#{channelCode}
        </if>
        <if test="userType!=null">
			AND apply.s_user_type =  #{userType}
		</if>
        <if test="startDate!=null">
			AND apply.creation_date<![CDATA[>=]]> #{startDate}
		</if>
		<if test="endDate!=null">
			AND apply.creation_date<![CDATA[<=]]> #{endDate}
		</if>
        <choose>
            <when test="isGetJbbChannels==true">  <!--  帮帮导流 -->
            	AND apply.s_org_id=1
                AND apply.org_id != apply.s_org_id
            </when>
            <otherwise>
                AND apply.org_id = apply.s_org_id <!-- 自有渠道  -->
            </otherwise>
        </choose>
        <!-- AND channel.is_hidden = 0 AND channel.status !=1 -->
    </sql>

	<select id="selectUserDetails_COUNT" resultType="Long">
		<include refid="countApplyRecordsSql"/>
	</select>

	<select id="countUserApplyRecords" resultType="Long">
		<include refid="countApplyRecordsSql"/>
	</select>

	<select id="selectUserApplyDetails" resultMap="UserMap">
		SELECT <include refid="userCols"/>,
			app.applyOrgNames AS applyOrgNames,
			app.applyOrgIds AS applyOrgIds,
			app.initMarks AS initMarks,
			az.areazone as 'census',
			c.channel_name as channelName,
			c.channel_code as channelCode,
		 	au.creation_date AS applyCreationDate,
		 	au.user_type AS userType
		FROM mgt_org_app_channel_users au
		LEFT JOIN mgt_users u  on au.user_id = u.user_id
		LEFT JOIN mgt_channels c ON au.channel_code = c.channel_code
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		LEFT JOIN mgt_user_properties p2 ON u.user_id = p2.user_id and p2.`name` = 'woolcheckResult'
		LEFT JOIN mgt_user_properties p3 ON u.user_id = p3.user_id and p3.`name` = 'mobileCheckResult'
		LEFT JOIN (
			SELECT r.user_id as user_id ,
				GROUP_CONCAT(r.init_mark SEPARATOR ',') as initMarks,
				GROUP_CONCAT(r.org_id SEPARATOR ',') as applyOrgIds,
				GROUP_CONCAT(CONCAT(o.name, '(', r.s_user_type, ')') SEPARATOR ',') as applyOrgNames
			FROM mgt_user_apply_records r
			LEFT JOIN mgt_organizations o ON r.org_id = o.org_id
			WHERE r.org_id != 1 AND r.s_org_id = 1
			<if test="channelCode!=null and channelCode!=''">
				AND r.s_channel_code = #{channelCode}
			</if>
			<if test="startDate!=null">
				AND r.creation_date<![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate!=null">
				AND r.creation_date<![CDATA[<]]> #{endDate}
			</if>
			GROUP BY r.user_id
		) AS app ON app.user_id = u.user_id
		WHERE 1=1 AND au.org_id = 1
		<if test="includeHiddenChannel == false"> <!-- 排除隐藏渠道 -->
			AND au.is_hidden = 0
		</if>
		<if test="userType != null">
			AND au.user_type = #{userType}
		</if>
		<if test="!woolcheckResult">
			AND p2.value is null
		</if>
		<if test="!mobileCheckResult">
			AND p3.value is null
		</if>
		<if test="channelCode!=null and channelCode!=''">
			AND au.channel_code=#{channelCode}
		</if>
		<if test="startDate!=null">
			AND au.creation_date<![CDATA[>=]]> #{startDate}
		</if>
		<if test="endDate!=null">
			AND au.creation_date<![CDATA[<]]> #{endDate}
		</if>
		<if test="zhima != null">
			AND u.zhima_score > #{zhima}
		</if>
		ORDER BY au.creation_date DESC
	</select>

	<select id="selectUserApplyDetails_COUNT" resultType="Long">
		SELECT COUNT(1)
		FROM mgt_org_app_channel_users au
		LEFT JOIN mgt_users u  on au.user_id = u.user_id
		LEFT JOIN mgt_user_properties p2 ON u.user_id = p2.user_id and p2.`name` = 'woolcheckResult'
		LEFT JOIN mgt_user_properties p3 ON u.user_id = p3.user_id and p3.`name` = 'mobileCheckResult'
		WHERE  1=1 AND au.org_id = 1
		<if test="includeHiddenChannel == false"> <!-- 排除隐藏渠道 -->
			AND au.is_hidden = 0
		</if>
		<if test="userType != null">
			AND au.user_type = #{userType}
		</if>
		<if test="!woolcheckResult">
			AND p2.value is null
		</if>
		<if test="!mobileCheckResult">
			AND p3.value is null
		</if>
		<if test="channelCode!=null and channelCode!=''">
			AND au.channel_code=#{channelCode}
		</if>
		<if test="startDate!=null">
			AND au.creation_date<![CDATA[>=]]> #{startDate}
		</if>
		<if test="endDate!=null">
			AND au.creation_date<![CDATA[<]]> #{endDate}
		</if>
		<if test="zhima != null">
			AND u.zhima_score > #{zhima}
		</if>
	</select>

	<select id="countUserByChannelCode"  resultType="java.lang.Integer">
		SELECT count(1)
		FROM  mgt_users as u
		LEFT JOIN mgt_org_users ou on ou.user_id = u.user_id
		WHERE ou.s_channel_code = #{channelCode} and ou.org_id = #{orgId}
		<if test="startDate!=null">
			AND u.creation_date<![CDATA[>=]]> #{startDate}
		</if>
		<if test="endDate!=null">
			AND u.creation_date<![CDATA[<=]]> #{endDate}
		</if>
	</select>


	<select id="selectUser" resultMap="UserMap">
		SELECT <include refid="userCols"/>
		FROM mgt_users as u
		JOIN mgt_org_users ou ON u.user_id = ou.user_id
		WHERE
		     u.phone_number = #{phoneNumber}
		     <if test="orgId != null and orgId != ''">
				AND ou.org_id=#{orgId}
			</if>
		LIMIT 1
	</select>

	<select id="selectUserByPhoneNumber" resultMap="UserMap">
		SELECT <include refid="userCols"/> 	, az.areazone as 'census'
		FROM mgt_users as u
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		WHERE u.phone_number = #{phoneNumber} ORDER BY creation_date DESC
	</select>

	<update id="updateUser">
	  	UPDATE mgt_users
        <trim prefix="set" suffixOverrides=",">
        <if test="userName != null and userName != ''">username = #{userName},</if>
        <if test="idCard != null and idCard != ''">idcard = #{idCard},</if>
        <if test="jbbUserId != null and jbbUserId != ''">jbb_user_id = #{jbbUserId},</if>
        <if test="ipAddress != null and ipAddress != ''">ip_address = #{ipAddress},</if>
        <if test="zhimaScore != null and zhimaScore != ''">zhima_score = #{zhimaScore},</if>
        <if test="qq != null and qq != ''">qq = #{qq},</if>
        <if test="password != null and password != ''">password = #{password},</if>
        <if test="wechat != null and wechat != ''">wechat = #{wechat},</if>
        <if test="realnameVerified != null and realnameVerified != ''">realname_verified = #{realnameVerified},</if>
        <if test="mobileVerified != null and mobileVerified != ''">mobile_verified = #{mobileVerified},</if>
        <if test="zhimaVerified != null and zhimaVerified != ''">zhima_verified = #{zhimaVerified},</if>
        <if test="jingdongVerified != null and jingdongVerified != ''">jingdong_verified = #{jingdongVerified},</if>
        <if test="siVerified != null and siVerified != ''">si_verified = #{siVerified},</if>
        <if test="gjjVerified != null and gjjVerified != ''">gjj_verified = #{gjjVerified},</if>
        <if test="chsiVerified != null and chsiVerified != ''">chsi_verified = #{chsiVerified},</if>
        <if test="taobaoVerified != null and taobaoVerified != ''">taobao_verified = #{taobaoVerified},</if>
        <if test="videoVerified != null and videoVerified != ''">video_verified = #{videoVerified},</if>
        <if test="ocrIdcardVerified != null and ocrIdcardVerified != ''">ocr_idcard_verified = #{ocrIdcardVerified},</if>
        <if test="idcardVerified != null and idcardVerified != ''">idcard_verified = #{idcardVerified},</if>
        <if test="hasContacts != null and hasContacts != ''">has_contacts = #{hasContacts},</if>
        <if test="contract1Relation != null and contract1Relation != ''">contract1_relation = #{contract1Relation},</if>
        <if test="contract1Username != null and contract1Username != ''">contract1_username = #{contract1Username},</if>
        <if test="contract1Phonenumber != null and contract1Phonenumber != ''">contract1_phonenumber = #{contract1Phonenumber},</if>
        <if test="contract2Relation != null and contract2Relation != ''">contract2_relation = #{contract2Relation},</if>
        <if test="contract2Username != null and contract2Username != ''">contract2_username = #{contract2Username},</if>
        <if test="contract2Phonenumber != null and contract2Phonenumber != ''">contract2_phonenumber = #{contract2Phonenumber},</if>
        <if test="idcardRear != null and idcardRear != ''">idcard_rear = #{idcardRear},</if>
        <if test="idcardBack != null and idcardBack != ''">idcard_back = #{idcardBack},</if>
        <if test="idcardInfo != null and idcardInfo != ''">idcard_info = #{idcardInfo},</if>
		<if test="vidoeScreenShot != null and vidoeScreenShot != ''">vidoe_screen_shot = #{vidoeScreenShot},</if>
		<if test="idcardAddress != null and idcardAddress != ''">idcard_address = #{idcardAddress},</if>
		<if test="race != null and race != ''">race = #{race},</if>
		<if test="maritalStatus != null and maritalStatus != ''">marital_status = #{maritalStatus},</if>
		<if test="education != null and education != ''">education = #{education},</if>
		<if test="contract1XjlRelation != null and contract1XjlRelation != ''">contract1_xjl_relation = #{contract1XjlRelation},</if>
        <if test="contract1XjlUsername != null and contract1XjlUsername != ''">contract1_xjl_username = #{contract1XjlUsername},</if>
        <if test="contract1XjlPhonenumber != null and contract1XjlPhonenumber != ''">contract1_xjl_phonenumber = #{contract1XjlPhonenumber},</if>
        <if test="contract2XjlRelation != null and contract2XjlRelation != ''">contract2_xjl_relation = #{contract2XjlRelation},</if>
        <if test="contract2XjlUsername != null and contract2XjlUsername != ''">contract2_xjl_username = #{contract2XjlUsername},</if>
        <if test="contract2XjlPhonenumber != null and contract2XjlPhonenumber != ''">contract2_xjl_phonenumber = #{contract2XjlPhonenumber},</if>
        <if test="xjlBasicInfoVerified != null">xjl_basic_info_verified = #{xjlBasicInfoVerified},</if>
        <if test="avatarPic != null">avatar_pic = #{avatarPic},</if>
        <if test="occupation != null">occupation = #{occupation},</if>
       </trim>
        WHERE
      		user_id =#{userId}

	</update>

	<update id="updateUserHiddenStatus">
	  	UPDATE mgt_users SET is_hidden = #{hiddenStatus} WHERE user_id =#{userId}
	 </update>

	<insert id="insertUserKey">
		INSERT INTO mgt_user_keys (user_key,user_id,application_id,expiry, is_deleted)
		VALUES (#{userKey},#{userId},#{applicationId},#{expiry}, #{deleted})
	</insert>

	<delete id="deleteUserKeyByUserId">
		DELETE FROM mgt_user_keys WHERE user_id=#{userId}
	</delete>

	<delete id="deleteUserKey">
		DELETE FROM mgt_user_keys WHERE user_key=#{userKey}
	</delete>

	<select id="selectUserKeyByUserIdAndAppId" resultType="com.jbb.mgt.core.domain.UserKey">
		SELECT user_id AS "userId", user_key AS "userKey",application_id AS "applicationId", expiry, is_deleted AS "deleted"
		FROM mgt_user_keys
		WHERE user_id=#{userId} and application_id=#{applicationId}
	</select>

	<select id="selectUserByUserKey" resultMap="UserMap">
		SELECT  <include refid="userCols"/>,<include refid="xjlCols"/>
		, k.user_key as 'key.userKey', k.expiry as 'key.expiry', k.is_deleted as 'key.deleted'
		, k.application_id as 'key.applicationId'
		FROM mgt_user_keys k, mgt_users u
		LEFT JOIN mgt_user_addresses a ON u.user_id = a.user_id AND a.type=0
		WHERE u.user_id = k.user_id  AND k.user_key = #{userKey}
			AND k.expiry &gt;= #{expiry} AND k.is_deleted = 0
	</select>

	<update id="updateUserKey">
		UPDATE mgt_user_keys 
		SET user_key = #{userKey}, expiry = #{expiry}, is_deleted =#{deleted}
		WHERE user_id = #{userId} AND  application_id =#{applicationId}
	</update>

	<select id="getPushCount" resultType="java.lang.Integer">
		SELECT COUNT(1) AS count
		FROM mgt_users u
		JOIN mgt_org_users ou on u.user_id = ou.user_id AND ou.org_id = #{orgId}
	    <if test="type != null"> AND  to_days(u.creation_date) = to_days(now())</if>
	</select>


	<select id="checkUserApplied" resultType="java.lang.Integer">
		SELECT EXISTS (
			SELECT 1 FROM mgt_user_apply_records ua
			WHERE ua.user_id = #{userId}  AND ua.org_id != 1
			<if test="start !=null ">
				AND ua.creation_date &gt;= #{start}
			</if>
			<if test="orgId !=null ">
				AND ua.org_id =#{orgId}
			</if>
		)
	</select>

	<select id="checkUserExistInOrg" resultType="java.lang.Integer">
		SELECT EXISTS (
			SELECT 1 FROM mgt_org_users ou
			JOIN mgt_users u on u.user_id = ou.user_id
			WHERE ou.org_id = #{orgId}
			<if test="phoneNumber !=null ">
				AND u.phone_number = #{phoneNumber}
			</if>
			<if test="jbbUserId !=null ">
				AND u.jbb_user_id = #{jbb_user_id}
			</if>
			<if test="idCard !=null ">
				AND u.idcard = #{idCard}
			</if>
		)
	</select>

	<select id="selectUserAppliedOrgaizationHistory" resultType="java.lang.Integer">
		SELECT uar.user_id, uar.org_id
		from mgt_user_apply_records uar
	</select>

	<select id="countAppliedUser" resultType="java.lang.Integer">
		SELECT count(1)
		FROM mgt_user_apply_records uar
		WHERE 1=1 AND uar.s_org_id = 1
			<if test="orgId !=null ">
				AND uar.org_id =#{orgId}
			</if>
			<if test="startDate !=null ">
				AND uar.creation_date &gt;= #{startDate}
			</if>
			<if test="endDate !=null ">
				AND uar.creation_date &lt; #{endDate}
			</if>
			<if test="userType !=null ">
				AND uar.s_user_type = #{userType}
			</if>
	</select>

	<select id="countOrgAppliedUsers" resultType="com.jbb.mgt.core.domain.OrgAppliedCount">
		SELECT uar.org_id as orgId, count(1) as cnt
		FROM mgt_user_apply_records uar
		WHERE 1=1 AND uar.s_org_id = 1
			<if test="orgId !=null ">
				AND uar.org_id =#{orgId}
			</if>
			<if test="startDate !=null ">
				AND uar.creation_date &gt;= #{startDate}
			</if>
			<if test="endDate !=null ">
				AND uar.creation_date &lt; #{endDate}
			</if>
			<if test="userType !=null ">
				AND uar.s_user_type = #{userType}
			</if>
		GROUP BY uar.org_id
	</select>

	<select id="selectXjlUserByApplyId" resultMap="UserMap">
	  SELECT <include refid="userCols"/> , az.areazone as 'census'
		FROM  mgt_users  u
        LEFT JOIN mgt_org_app_channel_users orau ON orau.user_id=u.user_id
		LEFT JOIN mgt_xjl_apply_records xar ON u.user_id =xar.user_id
		LEFT JOIN areazones az ON left(u.idCard,6) = az.zone
		WHERE
		 orau.org_id = #{orgId}
		<if test="applyId!=null">
			AND xar.apply_id = #{applyId}
		</if>
		<if test="userId!=null">
			AND u.user_id =#{userId}
		</if>
		limit 1
	</select>

	<select id="checkPhoneNumberMd5ExistUser" resultType="java.lang.Integer">
		  SELECT EXISTS ( SELECT 1 FROM mgt_users u WHERE u.phone_number_md5 =#{phoneNumberMd5})
	</select>

</mapper> 