<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
  
    <import resource="classpath:/datasource-config.xml"/>
    <import resource="classpath:/core-application-config.xml"/>

    <!--  required for auto wire  -->
    <context:annotation-config/>
  
    <!-- Scan the package required for auto wire  -->
    <context:component-scan base-package="com.jbb.server.rs.action"  />
 	
    <bean id="rsJbbServices" class="com.jbb.server.rs.services.JbbServices" autowire="byType" />
    <bean id="rsJbbServicesXml" class="com.jbb.server.rs.services.JbbServicesXml" autowire="byType" />
    <bean id="rsJbbAdminServices" class="com.jbb.server.rs.services.JbbAdminServices" autowire="byType" />
	<bean id="clubServices" class="com.jbb.server.rs.services.ClubServices" autowire="byType" />
	<bean id="rsJbbIntegrateServices" class="com.jbb.server.rs.services.JbbIntegrateService" autowire="byType" />
</beans>
