<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jbb.server.core.dao.mapper.UserDeviceMapper">

     <sql id="userDeviceCols">
		ud.user_id AS "userId",
		ud.object_id as "objectId",
		ud.device_type AS "deviceType",
		ud.installation_id AS "installationId",
		ud.device_token AS "deviceToken",
		ud.creation_date AS "creationDate",
		ud.update_date AS "updateDate",
		ud.status AS "status"
	</sql>
	
	<insert id="saveUserDevice">
		INSERT INTO user_devices (user_id, device_type, object_id, installation_id, device_token,creation_date,status)
		VALUES (#{userId}, #{deviceType}, #{objectId}, #{installationId},#{deviceToken},#{creationDate},#{status})
		ON DUPLICATE KEY UPDATE  
			user_id = #{userId},
			installation_id = #{installationId}, 
			device_token = #{deviceToken}, 
			status = #{status}, 
			update_date = CURRENT_TIMESTAMP() 
	</insert>

	<select id="selectUserDeviceListByUserId" resultType="com.jbb.server.core.domain.UserDevice">
		SELECT <include refid="userDeviceCols" />
		FROM user_devices ud
		WHERE ud.user_id = #{userId} AND ud.status != 1
	</select>
	
	<update id="updateUserDeviceStatus">
		UPDATE user_devices  
		SET status= #{status}
		WHERE object_id= #{objectId} AND user_id = #{userId}
	</update>

</mapper>