<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.jbb.mgt.core.dao.mapper.DataFlowSettingMapper">
	
	
	<resultMap id="dataFlowSettingMap" type="com.jbb.mgt.core.domain.DataFlowSetting">
        <id property="dataFlowId" column="dataFlowId"/>
        <result property="orgId" column="orgId"/>
        <result property="minValue" column="minValue"/>
        <result property="maxValue" column="maxValue"/>
        <result property="closed" column="closed"/>
        <association property="dataFlowBase" javaType="com.jbb.mgt.core.domain.DataFlowBase">
            <id property="dataFlowId" column="dataFlowId" jdbcType="INTEGER"/>
            <result property="jexlScript" column="jexlScript" jdbcType="VARCHAR"/>
            <result property="jexlDesc" column="jexlDesc" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

	<insert id="insertDataFlowSetting">
		INSERT INTO mgt_account_dflow_settings
			(org_id, is_closed, dflow_id,min_value,max_value)
		VALUES
			(#{orgId}, #{closed}, #{dataFlowId},#{minValue},#{maxValue})
	</insert>

	<update id="updateDataFlowSetting">
		INSERT INTO mgt_account_dflow_settings
			(org_id, is_closed, dflow_id,min_value,max_value)
		VALUES
			(#{orgId}, #{closed}, #{dataFlowId}, #{minValue}, #{maxValue})
		ON DUPLICATE KEY UPDATE is_closed =  #{closed}, dflow_id = #{dataFlowId},
			min_value = #{minValue}, max_value = #{maxValue}
	</update>

	<select id="selectDataFlowSettingByOrgId" resultMap="dataFlowSettingMap">
		SELECT f.org_id as orgId ,f.dflow_id as dataFlowId,
			f.min_value as minValue, f.max_value as 'maxValue', f.is_closed as closed, 
			db.jexl_script as jexlScript,
			db.jexl_desc as jexlDesc,
			db.price as price,
			db.creation_date as creationDate,
			db.is_deleted as deleted
		FROM mgt_account_dflow_settings f
		LEFT JOIN mgt_dflow_base db on f.dflow_id = db.dflow_id
		WHERE f.org_id = #{orgId}
	</select>
	
	<select id="selectDataFlowSettings" resultType="com.jbb.mgt.core.domain.DataFlowSetting">
		SELECT f.org_id as orgId ,f.dflow_id as dataFlowId,
			f.min_value as minValue, f.max_value as 'maxValue', f.is_closed as closed
		FROM mgt_account_dflow_settings f
	</select>

</mapper> 