<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbb.mgt.core.dao.mapper.FinOpLogMapper">

     <insert id="insertFinOpLog">
		INSERT INTO mgt_fin_op_log
			(account_id, source_id, type, op_date, params)
		VALUES 
			(#{accountId}, #{sourceId}, #{type}, #{opDate}, #{params})
	</insert>
    
</mapper>