<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbb.mgt.core.dao.mapper.MobilesMapper">

	<insert id="insertMobiles">
		INSERT INTO mgt_mobiles
		(phone_number, check_type,check_result)
		VALUES
		(#{phoneNumber},#{checkType},#{checkResult})
	</insert>

	<select id="selectMobiles" resultType="com.jbb.mgt.core.domain.Mobiles">
		SELECT a.id,a.phone_number AS phoneNumber,a.check_type AS checkType,a.check_result AS checkResult,a.check_date AS checkDate
		FROM mgt_mobiles AS a
		WHERE a.phone_number =#{phoneNumber} <if test="checkType!=null">AND a.check_type = #{checkType}</if>  
		AND NOT EXISTS (
				SELECT 1
				FROM mgt_mobiles AS b
				WHERE b.check_type=a.check_type AND b.phone_number =a.phone_number 
				AND b.check_date > a.check_date)   
	</select>

</mapper> 