<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbb.mgt.core.dao.mapper.PhoneBlacklistMapper">

    <select id="checkPhoneNumberExist" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM  mgt_phone_blacklist
		WHERE phone_number = #{phoneNumber}
	</select>

</mapper>