<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbb.mgt.core.dao.mapper.XjlAntFraudResultMapper" >

	<insert id="insert">
		INSERT INTO mgt_xjl_anti_fraud_result
			(user_id, order_id, anti_fraud_result,status,create_time)
		VALUES 
			(#{xjlAntiFraudResult.userId}, #{xjlAntiFraudResult.orderId},#{xjlAntiFraudResult.antiFraudResult},
			#{xjlAntiFraudResult.status},#{xjlAntiFraudResult.createTime})
	</insert>

	<update id="update">
		update mgt_xjl_anti_fraud_result
		set anti_fraud_result = #{antiFraudResult}
		where order_id = #{orderId}
	</update>

</mapper> 